* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  line-height: 24px;
}

body {
  width: 1440px;
}

h1,
h2,
h3 {
  color: #4d4d4d;

  & span {
    display: inline-block;
    color: #4caf4f;
  }
}

h1,
h1 > span {
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
}

h2,
h2 > span {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
}

h3,
h3 > span {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
}

p,
.small-p {
  color: #717171;
}

.small-p {
  font-size: 14px;
  line-height: 20px;
}

.big-p {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #4caf4f;
}

.large-p {
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 120px 30px 105px;
  background-color: #f5f7fa;
  height: 24px;

  & a {
    color: black;
    text-decoration: none;
  }

  & .logo {
    & span {
      font-size: 30px;
      font-weight: 700;
    }

    & img {
      height: 24px;
      width: 35px;
    }
  }

  & nav {
    width: 588px;

    & ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
    }
  }

  & .authen {
    width: 182px;
    height: 40px;
    margin-top: -8px;
    display: flex;
    justify-content: space-between;

    & a {
      color: #4caf4f;
      line-height: 40px;
      width: 77px;
      text-align: center;
    }

    & button {
      color: white;
      background-color: #4caf4f;
      border: none;
      border-radius: 6px;
      padding: 10px 20px;
    }
  }
}

main > * {
  padding-left: 144px;
  padding-right: 144px;
}

.register {
  padding-top: 96px;
  padding-bottom: 96px;
  display: flex;
  justify-content: space-between;
  background-color: #f5f7fa;
  align-items: center;

  & div {
    width: 657px;

    & p {
      margin-top: 16px;
      margin-bottom: 32px;
    }

    & button {
      color: white;
      background-color: #4caf4f;
      padding: 14px 32px;
      border: none;
      border-radius: 4px;
    }
  }

  & img {
    width: 391px;
    height: 407px;
  }
}

.over-view > * {
  text-align: center;
}

.over-view {
  & section {
    display: flex;
    flex-direction: column;
    align-items: center;

    & * {
      width: 100%;
    }

    & h2 {
      padding-bottom: 8px;
      width: 542px;
    }

    & .clients {
      display: flex;
      justify-content: space-between;
      margin-top: 16px;

      & div {
        width: 299px;
        height: 212px;
        padding: 24px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 2px 4px 0px #abbed133;

        & img {
          width: 65px;
          height: 56px;
          margin-bottom: 16px;
        }

        & h3 {
          width: 267px;
        }

        & p {
          margin-top: 8px;
          width: 251px;
        }
      }
    }

    & .suitable {
      height: 280px;
    }

    & .clients img {
      width: 48px;
      height: 48px;
    }
  }

  & section:first-child {
    margin: 40px 0;
  }
}

.learn-more {
  padding-top: 42px;
  padding-bottom: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & img {
    width: 442px;
    height: 433px;
    margin-right: 49px;
  }

  & > div {
    width: 661px;

    & div {
      width: 601px;
    }

    & p {
      padding-top: 16px;
      padding-bottom: 32px;
    }

    & button {
      color: white;
      background-color: #4caf4f;
      padding: 14px 32px;
      border: none;
      border-radius: 4px;
    }
  }
}

.reinvent {
  background-color: #f5f7fa;
  height: 288px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > div:first-child {
    width: 540px;

    & h3 {
      width: 408px;
    }

    & p {
      color: black;
    }
  }

  & > div + div {
    display: flex;
    margin: -40px -30px;

    & div {
      margin: 0 15px;
    }

    & article {
      display: flex;
      align-items: center;
      margin: 40px 0;

      & img {
        height: 48px;
        width: 48px;
        margin-right: 16px;
      }

      & div {
        width: 191px;
      }
    }
  }
}

.design-footer {
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & img {
    width: 442px;
    height: 433px;
    margin-right: 49px;
  }

  & > div {
    width: 661px;

    & div {
      width: 601px;
    }

    & p {
      padding-top: 16px;
      padding-bottom: 32px;
    }

    & button {
      color: white;
      background-color: #4caf4f;
      padding: 14px 32px;
      border: none;
      border-radius: 4px;
    }
  }
}

.customers {
  background-color: #f5f7fa;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & img {
    width: 326px;
    height: 326px;
  }

  & > div {
    width: 748px;

    & p + p {
      padding-top: 16px;
      padding-bottom: 8px;
    }

    & > div {
      display: flex;
      justify-content: space-between;
      padding-top: 32px;

      & div:first-child {
        display: flex;
        justify-content: space-between;
        width: 493px;
        & img {
          width: 48px;
          height: 48px;
        }
      }

      & div + div {
        width: 223px;
        height: 44px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

.marketing {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 94.6px;

  & h3 {
    padding-bottom: 8px;
  }

  & > p {
    width: 628px;
    padding-bottom: 16px;
  }

  & > div {
    display: flex;
    justify-content: space-between;
    width: 100%;

    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;

      & > img {
        width: 368px;
        height: 286px;
      }

      & > div {
        width: 317px;
        border-radius: 8px;
        box-shadow: 0px 8px 16px 0px #abbed166;
        background-color: #f5f7fa;
        margin-top: -96px;
        padding: 16px;
        box-sizing: border-box;

        & > p {
          color: #717171;
          padding-bottom: 16px;
        }

        & div {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 8px 0;

          & img {
            width: 24px;
            height: 24px;
            padding-left: 8px;
          }
        }
      }
    }
  }
}

.demo {
  padding-top: 32px;
  padding-bottom: 32px;
  background: #f5f7fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  & p {
    color: black;
    width: 887px;
    padding-bottom: 32px;
  }

  & button {
    padding: 14px 32px;
    color: white;
    background: #4caf4f;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;

    & img {
      padding-left: 8px;
      width: 16px;
      height: 16px;
    }
  }
}
